<!--<mat-toolbar class="mat-elevation-z8">-->
<!--  <mat-toolbar-row>-->
<!--    <mat-icon (click)="isExpanded = !isExpanded">-->
<!--      menu-->
<!--    </mat-icon>-->
<!--    <img  src="../../../../../../assets/images_courzelo_classroom/logoclass.jpg" class="img-fluid logo_trainer rounded"-->
<!--          alt="courzelo_logo" />-->


<!--    <nav  class="navbar navbar-expand-lg navbar-light bg-light">-->
<!--      <div class="collapse navbar-collapse" id="navbarSupportedContent">-->
<!--        <ul class="navbar-nav mr-auto">-->

<!--          <li class="nav-item active" >-->
<!--            <a class="navbar-brand navbarstyle" *ngIf="navShow"(click)="navigateTo('classworktrainee')"> Class content</a>-->
<!--          </li>-->

<!--          <li class="nav-item active" >-->
<!--            <a class=" navbarstyle" *ngIf="navShow" (click)="navigateTo('fluxtrainee')">Feed</a>-->
<!--          </li>-->
<!--          <li class="nav-item active" >-->
<!--            <a class=" navbarstyle" *ngIf="navShow"(click)="navigateTo('Quizmanagementtrainee')" >Assessments</a>-->
<!--          </li>-->

<!--          <li class="nav-item" >-->
<!--            <a class=" navbarstyle"*ngIf="navShow" (click)="navigateTo('attendeestrainee')" >Students</a>-->
<!--          </li>-->

<!--          <li class="nav-item active" >-->
<!--            <a class=" navbarstyle" *ngIf="navShow" (click)="navigateTo('gradestrainee')" >Grades Center</a>-->
<!--          </li>-->

<!--        </ul>-->

<!--      </div>-->
<!--    </nav>-->





<!--  </mat-toolbar-row>-->
<!--</mat-toolbar>-->
